@import '../../styles/variables.scss';

.dashboard {
  transition: margin-left .5s;
  margin-left:$MENU_FILES_WIDTH;

  height: $MENU_FILES_HEIGHT;
  &-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    transition: background-color .3s;
  }
}

@media screen and (max-width:$BREAKPOINT_MAX) {
  .dashboard { margin-left: 0px; }
}
@media screen and (min-width:$BREAKPOINT_MAX + 1px) {
  .dashboard { margin-left: $MENU_FILES_WIDTH; }
}
