@import '../../styles/variables.scss';

.dashboard {
  transition: margin-left .5s;
  margin-left:$MENU_FILES_WIDTH;

  height: $MENU_FILES_HEIGHT;
}

@media screen and (max-width:$BREAKPOINT_MAX) {
  .dashboard { margin-left: 0px; }
}
@media screen and (min-width:$BREAKPOINT_MAX + 1px) {
  .dashboard { margin-left: $MENU_FILES_WIDTH; }
}
