/*
 * variables.scss
 * this is the main containter for all app styling variables
 */

/*
 * main application colors
 */
$WHITE_COLOR: #FFF;
$GREY_COLOR: #E5E5E5;
$BLUE_COLOR:#070D59;
$LIGHT_BLUE_COLOR:#5893D4;
$RED_COLOR:#f00;
$YELLOW_COLOR:#F7B633;

/*
 * component stying
 */
$FILE_WIDTH: 634px;
$FILE_HEIGHT: 802px;
$FILE_BORDER: 10px dashed #FF0000;

$MENU_FILES_WIDTH: 384px;
$MENU_FILES_HEIGHT: 100%;

$MAIN_LOGO_HEIGHT: 37px;
$MAIN_LOGO_WIDTH: 208px;
$MAIN_LOGO_MARGIN_TOP: 70px;
$MAIN_LOGO_MARGIN_RIGHT: 123px;
$MAIN_LOGO_MARGIN_BOTTOM: 51px; // distance to "Files" title
$MAIN_LOGO_MARGIN_LEFT: 53px; 

$MAIN_FILES_TITLE_HEIGHT: 32px;
$MAIN_FILES_TITLE_WIDTH: 45px; // currently unndeded
$MAIN_FILES_TITLE_COLOR: rgba(255, 255, 255, 0.27);
$MAIN_FILES_TITLE_MARGIN_TOP: 0px;
$MAIN_FILES_TITLE_MARGIN_RIGHT: 286px;
$MAIN_FILES_TITLE_MARGIN_BOTTOM: 9px;
$MAIN_FILES_TITLE_MARGIN_LEFT: 53px;

$BUTTON_COLOR: $WHITE_COLOR;
$BUTTON_BOX_SHADOW: 0px 4px 4px rgba(0, 0, 0, 0.25);

$BUTTON_LIST_WIDTH: 344px;
$BUTTON_LIST_HEIGHT: 82px;
// $BUTTON_LIST_COLOR: ;
$BUTTON_LIST_BG_COLOR: inherit;
$BUTTON_LIST_ACTION_BG_COLOR: $LIGHT_BLUE_COLOR;
$BUTTON_LIST_ACTION_OPACITY: 0.2;
$BUTTON_LIST_BORDER_RADIUS: 15px;

$BUTTON_UPLOAD_WIDTH: 305px;
$BUTTON_UPLOAD_HEIGHT: 70px;
// $BUTTON_UPLOAD_COLOR: ;
$BUTTON_UPLOAD_BG_COLOR: $YELLOW_COLOR;
$BUTTON_UPLOAD_ACTION_BG_COLOR: darken( $YELLOW_COLOR, 10% );
// $BUTTON_UPLOAD_ACTION_OPACITY: 0.2;
$BUTTON_UPLOAD_BORDER_RADIUS: 10px;
$BUTTON_UPLOAD_MARGIN_BOTTOM: 33px;
$BUTTON_UPLOAD_MARGIN_LEFT: 39px;