/*
 * variables.scss
 * this is the main containter for all app styling variables
 */

/*
 * main application colors
 */
$GREY_COLOR: #E5E5E5;
$WHITE_COLOR: #FFF;
$BLUE_COLOR:#070D59;
$LIGHT_BLUE_COLOR:#5893D4;
$RED_COLOR:#f00;
$YELLOW_COLOR:#F7B633;

/*
 * component coloring
 */

