@import '../../styles/variables.scss';
 
.file-view {
  position: relative;
  padding-top:68px;
  padding-left:79px;
  padding-right:79px;

  .file-title {
    display: inline-flex;
    .file-title-icon {
      width: 41px;
      height: 41px;
    }
    span {
      font-family: Poppins;
      font-weight: bold;
      font-size: 36px;
      line-height: 41px;
      vertical-align: middle;
      padding:0 0 0 20px;
    }
  }

  .file {
    position: relative;
    top: 47px;

    width: $FILE_WIDTH;
    height: $FILE_HEIGHT;

    background-color: $FILE_BG_COLOR;
  
    border: $FILE_BORDER;

    overflow: auto;

    .next-button {
      position: absolute;
      bottom:10px;
      right:10px;

      width:$BUTTON_LIST_WIDTH/2;
      height:$BUTTON_LIST_HEIGHT/2;

      box-shadow: $BUTTON_BOX_SHADOW;
      color: $BUTTON_COLOR;

      background-color: rgba($BLUE_COLOR, 0.5);
      border-radius: $BUTTON_UPLOAD_BORDER_RADIUS;

      border:none;
      outline: none;
      &:active,&:hover {
        background-color: rgba($BLUE_COLOR, 0.8);
      }
    }
  }

  @media screen and (max-width:$BREAKPOINT_MAX) {
    .file { width:100%; min-height:50%; }
  }
}
@media screen and (max-width:$BREAKPOINT_MAX) {
  .file-view {
    padding-top:50px;
    padding-left:25px;
    padding-right:45px;
  }
}